.modal{
    height: 100vh;
    width: 100vw;
    background-color: rgba(0,0,0,0.4);
    position: fixed;
    top:0;
    left:0;
    display: flex;
    align-items: center;
    justify-content: center;
    pointer-events: none;
    opacity: 0;
    transition: 0.5s;
}

.modal.active{
    pointer-events: all;
    opacity: 1;
}

.modal_content{
    border: #FFF 1px solid;
    padding: 20px;
    border-radius: 12px;
    background-color: #332546;
    height: max-content;
    max-height: 90%;
    width: 35%;
}

select{
    margin-left: 30px;
    padding: 10px;
    background-color: #332546;
    color:#FFF;
    border-radius: 5px;
    border-color: #FFF;
}
 option{
    background-color: #332546;
}

.optionsOfDataBase {
    display: flex;
}

.FormCreate input{
    margin: 20px;
    width: 70%;
}

input::placeholder{
    color:#FFF;
}

input::file-selector-button{
    height: 100%;
    background-color: #FFF;
}

form{
    margin-top: 40px;
    align-items: center;
    display: flex;
    flex-direction: column;
}

p{
    margin: 20px;
    color:#FFF;
}

.ModalsButton{
    display: flex;
   justify-content: center;
}

.ModalsButton li{
    margin: 30px;
    font-size: 18px;
    height: max-content;
    width: max-content;
}

h2{
    color:#FFF;
}

h3 {
    color:#FFF;
    margin:2% 0 2% 0;
}

.category{
    width: 60%;
    display: flex;
    flex-direction: column;
    margin-left: auto;
    margin-right: auto;
}

.category ul{
    width: 100%;
    display: flex;
    flex-direction: column;
}

.category li{
    cursor: pointer;
    padding: 15px 30px 15px 20px;
    width: 100%;
    font-size: 25px;
    list-style-type: none;
    border-right: solid 1px #FFF;
    color:#FFF;
    transition: 0.5s;
}

.category li:hover{
    background-color: #FFF;
    color:#332546
}

.category li.active {
    background-color: #FFF;
    color: #332546;
}

.category li:hover:not(.active) {
    background-color: #FFF;
    color: #332546;
}

.modalForm{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.modalForm h2{
    margin-top: 20px;
}

.SelectionProduct{
    width: 90%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.SelectionProduct ul{
    overflow-y: auto;
    width: 70%;
    max-height: 600px;
}

.SelectionProduct li{
    height: max-content;
    font-size: 15px;
}

.Fetch_product{
    margin: 0;
    padding: 0;
}

.Fetch_product li{
    cursor: pointer;
    width: 100%;
    list-style-type: none;
    color:#FFF;
    transition: 0.5s;
}

.Fetch_product li:hover{
    background-color: #FFF;
    color:#332546;
    .headerProduct p{
        transition: 0.5s;
        color: #332546;
    }
    .footerProduct p{
        transition: 0.5s;
        color: #332546;
    }
}

.Fetch_product li.active {
    background-color: #FFF;
    color: #332546;
    .headerProduct p{
        transition: 0.5s;
        color: #332546;
    }
    .footerProduct p{
        transition: 0.5s;
        color: #332546;
    }
}

.Fetch_product li:hover:not(.active) {
    background-color: #FFF;
    color: #332546;
}

.ListManager{

}