.product{
    margin: 10px;
    padding: 20px;
    border: #FFF solid 3px;
    border-radius: 10px;
    color: #FFF;
    cursor: pointer;
}

.headerProduct{
    display: block;
    flex-direction: column;
}

.footerProduct{
    margin-top: 15px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.footerProduct li{
    cursor: pointer;
}

.product li{
    list-style: none;
    width: 100%;
}

.footerProduct li{
    width: 105px;
    padding: 10px;
    border: 1px solid rgba(255,255,255,0.25);
    background: #332546;
    color: #FFF;
    border-radius: 5px;
    outline: none;
    font-size: 1em;
    transition: 0.5s;
}

.footerProduct li:hover{
    background-color: #FFF;
    color:#332546
}

.catalogAppearance{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.catalogAppearance ul{
    flex-wrap: wrap;
}

.categories{
width: 20%;
display: flex;
flex-direction: column;
}

.categories input{
    margin: 30px 0 20px 80px;
    width: 60%;

}

.categories input::placeholder{
    color: #FFF;
    font-size: 15px;
}

.categories label{
    font-size: 25px;
    color:#FFF;
}

.categories ul{
    margin: 20px 0 0 20px;
    padding-left: 30px;
    width: 100%;
    display: flex;
    flex-direction: column;
}

.categories li{
cursor: pointer;
padding: 15px 30px 15px 20px;
width: 100%;
font-size: 25px;
list-style-type: none;
border-right: solid 1px #FFF;
color:#FFF;
transition: 0.5s;
}

.categories li:hover{
    background-color: #FFF;
    color:#332546
}

.categories li:hover:not(.active) {
    background-color: #FFF;
    color: #332546;
}

.categories li.active {
    background-color: #FFF;
    color: #332546;
}

.catalogAppearance ul{
    display: flex;
    width: 80%;
}

