.product-page-info {
    overflow-y: auto;
    position: fixed;
    height: 100%;
    width: 100%;
    color:#FFF;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    z-index: 100;
    background-color: rgba(0,0,0,.7); /* Цвет фона окна подробной информации */
  }

.info-body{
    display: flex;
    flex-wrap: wrap;
    margin: auto;
    justify-content: space-around;
    height: 90%;
    width: 90%;
    background-color: rgba(51, 37, 70, 1);;
    padding: 1% 0 3% 0;
}


.info-body img{
    border: 1px solid #FFF;
    margin-bottom: 100px;
}

.info-header{
    width: 90%;
    height: 10%;  
}

.info-header h2{
    padding-top: 20px;
}

.info-header button{
    float: right;
}

.info-description{
    width: 50%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.info-description span{
    font-size: 20px;
    
}

.info-description p{
    padding-top: 100px;
    text-align: start;
    font-size: 30px;
    line-height: 0.5;
    max-width: 100%;
}

button{
    padding: 5px 10px 5px 10px;
    border: none;
    outline: none;
    background-color: #332546;
    color:#FFF;
    font-size: 40px;
    transition: 0.5s;
}

button:hover{
    background-color: #FFF;
    color: #332546;
}

.info-description button{
    align-self: center;
}