.WarehouseCatalog{
    margin: auto;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
}

.WarehouseCatalog ul{
    width: 80%;
    border: #00dfc4 1px solid;
}

p{
    display:flex;
    align-items: center;
}

.from li{
    margin: 30px;
    font-size: 18px;
    height: max-content;
    width: max-content;
}

.WarehouseCatalog input{
    margin-left: 30px;
}

form{
    margin-left: 3%;
}

.ingredient{
    border: #00dfc4 1px solid;
    width: 30px;
    display: block;
}

.headerIngredient{
    min-width: max-content;
}

.footerIngredient{
    min-width: max-content;
}
