.WarehouseCatalog{
    margin: auto;
    max-width: 90%;
    display: flex;
    justify-content: space-around;
}

.WarehouseCatalog ul{
    width: 80%;
    border: #FFF 1px solid;
}

p{
    display:flex;
    align-items: center;
}

.List{
    display: flex;
}

.from li{
    margin: 30px;
    font-size: 18px;
    height: max-content;
    width: max-content;
}

.WarehouseCatalog input{
    margin-left: 30px;
}

form{
    margin-left: 3%;
}

.ingredient{
    border: #FFF 1px solid;
    width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.headerIngredient{
    min-width: max-content;
    align-items: center;
}

.footerIngredient{
    min-width: max-content;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.footerIngredient input{
    text-align: center;
    margin-right: 20%;
}

.footerIngredient li{
    border: #FFF 1px solid;
    margin: 5px;
    min-width: min-content;
    cursor: pointer;
    list-style-type: none;
    color:#FFF;
    transition: 0.5s;
}

.footerIngredient li:hover{
    background-color: #FFF;
    color:#332546
}

.footerIngredient li.active {
    background-color: #FFF;
    color: #332546;
}

.footerIngredient li:hover:not(.active) {
    background-color: #FFF;
    color: #332546;
}