*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    margin: 0;
    width: 100%;
    background: #1d2b3a;
}

.container
{
    margin: 1rem;
    text-align: center;
    flex-wrap: wrap;
}