.OrdersContainer{
    margin: auto;
    width: 80%;
    height: 85%;
}

table{
    width: 100%;
    border: none;
    box-shadow: none;
    color:#ffffff;
    justify-content: center;
}

table th, table td{
    padding: 10px;
    border-color: grey;
    border-right: none;
}

table th:last-child, table td:last-child
{
    border-right: 1px solid #332546;
}

table td{
    border-top:#FFF 1px solid;
}

.AddInTable{
    color:#ffffff;
    margin: 20px 0 20px auto;
    list-style: none;
}

table tbody tr{
    border: 1px solid white;
}