.OrdersContainer{
    margin: auto;
    width: 80%;
    height: 85%;
}

table{
    width: 100%;
    border: none;
    box-shadow: none;
    color:#ffffff;
    justify-content: center;
}

table th, table td{
    padding: 10px;
    border-color: grey;
    border-right: none;
}

table th:last-child, table td:last-child
{
    border-right: 1px solid #332546;
}

table td{
    border-top:#FFF 1px solid;
}

.AddInTable{
    color:#ffffff;
    margin: 20px 0 20px auto;
    list-style: none;
}

table tbody tr{
    border: 1px solid white;
}

.ModalOrder{
    width: 100%;
}

.ModalOrder form{
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin: 0;
}

.ModalOrder form input{
    margin: 10px;
    min-width: max-content;
    padding: 5px;
}

.ModalOrder form li{
    list-style: none;
    border: white 1px solid;
    color: white;
    padding: 7px;
}

.ModalOrder form li:hover{
    background-color: white;
    color: #332546;
    cursor: pointer;
}

.ModalOrder form select{
    margin: 20px 0 20px 0;
}